{{#> layout title="Login - KanbanPro"}}
  <h1>Login</h1>
  <form>
    <input placeholder="Email" />
    <input placeholder="Password" type="password" />
    <button type="button">Ingresar (mock)</button>
  </form>
{{/layout}}