{{#> layout title="Registro - KanbanPro"}}
  <h1>Registro</h1>
  <form>
    <input placeholder="Email" />
    <input placeholder="Password" type="password" />
    <button type="button">Crear cuenta (mock)</button>
  </form>
{{/layout}}